.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100dvh;
  width: 100%;
}

.cta {
padding: 3;
background-color: blue;
width: 100%;
display: flex;
}