@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  --font-main: 'Outfit', sans-serif;
  --bg-dark: #0b0b0b;
  --text-light: #ededed;
  --primary-gradient: linear-gradient(135deg, #6366f1 0%, #a855f7 100%);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}